<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Srikanth">
  <test name="Smoke">
    <classes>
      <class name="com.vasu.testng.AdminLoginTest"/>
      <class name="com.vasu.testng.AnnotationsTest"/>
      <class name="com.vasu.testng.MultipleTestCases"/>
      <class name="com.vasu.testng.FirstTestNgTest"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
